@model Market.MVC.Models.Contact.ContactVM

<main role="main">
    <div class="wrapper">
        <div class="container">
            <div class="row my-6">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body py-3 border-bottom">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">Use this form for contact</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    @TempData["SuccessMessage"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    @TempData["ErrorMessage"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }

                            <form asp-action="SendMessage" asp-controller="Contact" method="post" class="mt-4" role="form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FirstName">Firstname *</label>
                                            <input asp-for="FirstName" class="form-control" placeholder="Please enter your firstname *" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LastName">Lastname *</label>
                                            <input asp-for="LastName" class="form-control" placeholder="Please enter your lastname *" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Email">Email *</label>
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Please enter your email *" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Type">Please specify your need *</label>
                                            <select asp-for="Type" asp-items="Html.GetEnumSelectList<Market.Domain.Enums.ContactType>()" class="form-control">
                                                <option value="">Select type...</option>
                                            </select>
                                            <span asp-validation-for="Type" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Message">Message *</label>
                                            <textarea asp-for="Message" class="form-control" placeholder="Message for me *" rows="4"></textarea>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-send" value="Send message" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-muted mt-3">
                                            <strong>*</strong> These fields are required
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}