<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />
    <title>MarketSpot - Digital marketplace template.</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/vendor/css/line-awesome.css">
    <link rel="stylesheet" href="~/assets/vendor/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-custom.css">
    <link rel="stylesheet" href="~/assets/css/theme.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="stylesheet" href="~/assets/css/rtl.css">
</head>

<body>
    <div id="toast-container" style="position: fixed; top: 10px; right: 10px; z-index: 9999;"></div>
    @await Html.PartialAsync("_Header")
    @RenderBody()
    @await Html.PartialAsync("_SecondFooter")

    <script src="~/assets/vendor/js/jquery.js"></script>
    <script src="~/assets/vendor/js/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/js/swiper.min.js"></script>
    <script src="~/assets/vendor/js/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>