@{
    var isAuthor = User.IsInRole("AuthorUser");
}

<aside class="col-lg-3 pt-4 pt-lg-0">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card mb-4">
                <div class="card-body px-3 py-2">
                    <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                        <div class="ml-sm-3 ml-md-0 ml-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h6 class="mb-0">Seller Profile</h6>
                            <p class="text-muted mb-1">shoot@gmail.com</p>
                            <p class="mb-0 text-primary font-weight-bold small">Seller Profile</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <ul class="nav flex-column dash-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" asp-action="MyDownloads" asp-controller="Profile">
                    <div><i class="las la-cloud-download-alt"></i>Downloads</div>
                </a>
            </li>
            @if (isAuthor)
            {
                <li class="nav-item">
                    <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" asp-action="MyProducts" asp-controller="Profile">
                        <div><i class="las la-file"></i>My items</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" asp-controller="Profile" asp-action="AddNewItem">
                        <div><i class="las la-plus"></i>Add item</div>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" asp-controller="Profile" asp-action="Settings">
                    <div><i class="las la-cog"></i>Settings</div>
                </a>
            </li>
            @if (isAuthor)
            {
                <li class="nav-item">
                    <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" asp-controller="Profile" asp-action="MySales">
                        <div><i class="las la-receipt"></i>Sales</div>
                        <div class="d-flex  align-items-center">
                            <p class="mb-0 text-small text-success">
                            </p>
                        </div>
                    </a>
                </li>
            }
            <li class="nav-item">
                <form id="logoutForm2" method="post" asp-controller="Auth" asp-action="Logout" style="display: none;">
                </form>
                <a class="nav-link active d-flex justify-content-between align-items-center text-danger" aria-current="page" onclick="document.getElementById('logoutForm2').submit();">
                    <div><i class="las la-sign-out-alt"></i>Logout</div>
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-lg-6 mt-sm-3 mb-1 text-muted">
            <span>Help center</span>
        </h6>
        <ul class="nav flex-column dash-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex justify-content-between align-items-center text-small" aria-current="page" asp-controller="Contact" asp-action="Index">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</aside> 