@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Market.MVC.Models.Items.AddItemVM

@{
    Layout = "_Layout";
}

<main role="main">
        <div class="wrapper">
            <div class="breadcrumb-wrap">
                <div class="container py-3">
                    <div class="row d-flex justify-content-md-between justify-content-sm-center">
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                        Library
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-share-alt"></i>
                                <span>Share</span>
                            </button>
                            <button class="btn btn-ghost grey-dark like-button font-weight-bold">
                                <i class="las la-hand-holding-heart"></i>
                                <span>150 Likes</span>
                            </button>
                            <button class="btn btn-ghost grey-dark font-weight-bold">
                                <i class="las la-bookmark"></i>
                                <span><span>Save for Later</span></span>
                            </button>

                            <!---->
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <partial name="_ProfileSidebar" />
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5">
                                    <div class="card-header border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Add New Item</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <form class="col-lg-8" method="post" asp-controller="Items" asp-action="Create" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l301">Title</label>
                                                            <input type="text" class="form-control" name="@nameof(Model.Title)" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l302">Subtitle</label>
                                                            <input type="text" class="form-control" id="l302" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="l20">Category</label>
                                                    <select multiple="" class="form-control height-300" id="l20">
                                                        <option value="Option 1">— Web Template</option>
                                                        <option value="Option 2">    — Creative</option>
                                                        <option value="Option 3">   — Minimal</option>
                                                        <option value="Option 4">        — Business</option>
                                                        <option value="Option 4">        — Portfolio</option>
                                                        <option value="Option 5">— Graphic</option>
                                                        <option value="Option 2">    — Illustration</option>
                                                        <option value="Option 2">    — Icons</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="l15">Short Description</label>
                                                    <textarea class="form-control" rows="3" id="l15"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label" for="l151">Full Description</label>
                                                    <textarea class="form-control" name="@nameof(Model.Text)" rows="3" id="l151" required></textarea>
                                                </div>
                                                <br />

                                                <h4 class="text-black mb-3">Pricing</h4>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l30">Total Price</label>
                                                            <input type="text" class="form-control" name="@nameof(Model.Price)" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="l31">Discount Price</label>
                                                            <input type="text" class="form-control" id="l31" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                                <div class="form-group">
                                                    <label class="form-control-label" for="l14">Colors</label>
                                                    <select multiple="" class="form-control" id="l14">
                                                        <option value="Option 1">Option 1</option>
                                                        <option value="Option 2">Option 2</option>
                                                        <option value="Option 3">Option 3</option>
                                                        <option value="Option 4">Option 4</option>
                                                        <option value="Option 5">Option 5</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="l13">Option</label>
                                                    <select class="form-control" id="l13">
                                                        <option value="Option 1">Option 1</option>
                                                        <option value="Option 2">Option 2</option>
                                                        <option value="Option 3">Option 3</option>
                                                        <option value="Option 4">Option 4</option>
                                                        <option value="Option 5">Option 5</option>
                                                    </select>
                                                </div>
                                                <h4 class="mt-4 mb-3">Upload item file</h4>
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="@nameof(Model.CoverImage)" accept="image/*" />
                                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                    </div>
                                                </div>
                                                <div class="form-actions my-4">
                                                    <button type="submit" class="btn btn-primary width-150">
                                                        Save Product
                                                    </button>
                                                    <button type="button" class="btn btn-danger">Cancel</button>
                                                </div>
                                            </form>

                                            <div class="col-lg-4">
                                                <h4 class="text-black mb-3">Product Image</h4>
                                                <div class="add-item position-relative mb-3">
                                                    <div class="add-item-img d-flex justify-content-center border border-radius py-6">
                                                        <a href="javascript: void(0);">
                                                            <i class="las la-file"></i>
                                                        </a>
                                                    </div>
                                                    <a href="javascript: void(0);" class="add-item-remove-img add-item-img-remove position-absolute">
                                                        <small><i class="las la-times"></i></small>
                                                        Remove
                                                    </a>
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" class="form-control-file" id="File1" />
                                                    <br />
                                                    <small>Technical information for user</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>